.DS_Store
*.swp
*.swo

env/*


*__pycache__*
*mypy_cache*
.ipynb_checkpoints

code/.ipython/*
code/.jupyter/*
code/.local/*
code/__pycache__/*
code/.bash_history
code/tags
code/overfitting/images/*.pdf

code/linear_regression/arch

code/gradients/function_1/*pdf
code/gradients/function_2/*pdf

classification
regression

code/make_exercises.sh
code/exercises/

code/reinforcement_learning/images/value_iteration/*pdf
code/reinforcement_learning/images/value_iteration_policy/*pdf
code/solutions/reinforcement_learning/images/value_iteration/*pdf
code/solutions/reinforcement_learning/images/value_iteration_policy/*pdf
code/solutions/hierarchical_clustering/clustering/*.pdf

code/speed/

code/hierarchical_clustering/clustering/*.pdf

code/gradients/function_2/*.pdf

code/kde/*.pdf

code/project/
