.DS_Store
*.swp
*.swo

env/*



*__pycache__*
*mypy_cache*
.ipynb_checkpoints

code/.ipython/*
code/.jupyter/*
code/.local/*
code/__pycache__/*
code/.bash_history
code/tags
code/overfitting/images/*.pdf

code/linear_regression/arch

code/gradients/function_1/*pdf
code/gradients/function_2/*pdf

classification
regression

code/arch/
# code/solutions/

code/make_exercises.sh
code/exercises/

code/reinforcement_learning/images/value_iteration/*pdf
code/reinforcement_learning/images/value_iteration_policy/*pdf
code/solutions/reinforcement_learning/images/value_iteration/*pdf
code/solutions/reinforcement_learning/images/value_iteration_policy/*pdf
code/solutions/hierarchical_clustering/clusterings/*.pdf
code/solutions/hierarchical_clustering/images/*.pdf
code/solutions/k_means/images/*.pdf
code/solutions/pca/custom data/images/
code/solutions/spectral_clustering/images/*.pdf

code/pca/**/*.pdf
code/kde/**/*.pdf
code/kl_divergence/**/*.pdf
code/k_means/**/*.pdf
code/hierarchical_clustering/**/*.pdf
code/spectral_clustering/**/*.pdf

code/speed/

code/gradients/function_2/*.pdf

code/kde/*.pdf

code/project/

slides/template.pdf
